.NewSheetSnippet {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    overflow: hidden;
    transition: 0.3s;
}

.NewSheetSnippet:hover {
    border: 1px solid #bbb;
}

.NewSheetSnippet-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    background-color: blueviolet;
}

.NewSheetSnippet-image::before {
    content: "";
    display: block;
    padding-top: 25%;
} 

.NewSheetSnippet-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.NewSheetSnippet-title {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.NewSheetSnippet-desc {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
}

