.SheetGuideBlock-body-wrap {
    padding: 20px;
    /* background-color: var(--background_page); */
    transition: 0.3s;
}

.SheetGuideBlock-body {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--header_tint);
    color: var(--text_secondary);
    /* background-color: var(--header_tint); */
}

.SheetGuideBlock-text-wrap {
    margin: 12px 0;
}