.SheetGuide {
    padding: 0;
    background-color: var(--background_page);
}

.SheetGuide-controls-text {
    display: block;
    text-align: right;
    color: var(--text_secondary);
}

.SheetGuide-body-wrap {
    padding: 20px;
    background-color: var(--background_page);
    transition: 0.3s;
}

.SheetGuide-body {
    padding: 20px;
    border-radius: 20px;
    color: var(--text_secondary);
    background-color: var(--header_tint);
}